@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

/* ESTANDARES DE ESTILIZACAO */
:root {
  /* fontes */
  --font-poppins: "Poppins";
  --font-roboto: "Roboto Condensed";
  --font-lato: "Lato";

  /* cores */
  --cor-001: #fcab10;
  --cor-002: #1f0441;
  --cor-003: #3d196a;
  --cor-004: #fc1068;
  --cor-005: #fff;
  --cor-006: #000;
}

/* tamaho do viewport */
section {
  height: 100vh;
  padding: 0 40px;
}

/* fonte h1 titulos */
.title-001 {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 3rem;
}

.title-002 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.8rem;
}

.para-001 {
  font-family: var(--font-lato);
  font-size: 1.3em;
  font-weight: 600;
}

.span-001 {
  font-size: 1.6rem;
  font-family: var(--font-roboto);
  font-weight: 500;
}
/* =========================================================================== */
/* secao preloader */
.notLoaded {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  margin: 0px;
}

.loaderImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid;
  animation: loadSpinner 2.5s linear infinite;

  background: linear-gradient(#3d196a, #3d196a) padding-box,
    linear-gradient(to right, #fc1068, #3d196a) border-box;
  border-radius: 50%;
  border: 4px solid transparent;
}

#loader {
  position: fixed;
  background: #3d196a;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center; 
}

@keyframes loadSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* =========================================================================== */
/* secao inicial */
.s-inicio {
  background-color: var(--cor-001);
}

/* cor titulo da secao */
.s-inicio h1 {
  color: var(--cor-003);
}

/* cor descricao */
.s-inicio span {
  color: var(--cor-004);
}

/* cor de titulo secundario */
.s-inicio h3 {
  color: var(--cor-004);
}

.s-inicio p {
  color: var(--cor-006);
}

.btn-cta {
  margin: 2rem 0 0 0;
}

.btn-cta .btn {
  background-color: var(--cor-002);
  font-family: var(--font-roboto);
  font-weight: 500;
  width: 15rem;
  height: 3rem;
  border-radius: 6px;
  transition: all 1.1s ease-out;
}

.btn-cta .btn:hover {
  transition: all 1.1s ease-out;
  background-color: var(--cor-002);
  font-weight: 700;
  font-family: var(--font-roboto);
  box-shadow: 0px 0px 10px 4px var(--cor-004);
}

.para-001 .highlighter {
  color: var(--cor-004);
  border-bottom: 0.7px solid var(--cor-004);
}

.tech-icons {
  display: flex;
  gap: 20px;
  margin: 1.5rem 0 0 0 !important;
}

.icon-destacado a {
  background-color: var(--cor-002);
  height: 40px;
  width: 50px;
  margin: 10px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.icon-destacado a i {
  color: var(--cor-005);
  font-size: 1.8rem;
}

.info-principal {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

/* ===========animacoes============= */

/* efeito vidro blur */
.glass {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.46);
}

/* alinhamento do icone no centro da div */
.df-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* tamanho da div que contem o icone */
.p-absolute {
  position: absolute;
  width: 110px;
  height: 110px;
}

.size-img {
  width: 90px;
  height: 90px;
  border-radius: 7px;
}

div.icon-floating.html {
  bottom: 70%;
  left: 80%;
  animation: float 6s ease-in-out infinite;
}

div.icon-floating.js {
  bottom: 67%;
  left: 60%;
  animation: float 5.7s ease-in-out infinite;
}

div.icon-floating.c-sharp {
  bottom: 45%;
  left: 62%;
  animation: float 5.5s ease-in-out infinite;
}

div.icon-floating.figma {
  bottom: 40%;
  left: 77%;
  animation: float 5.5s ease-in-out infinite;
}

div.icon-floating.css {
  bottom: 65%;
  left: 86%;
  animation: float 4.7s ease-in-out infinite;
}

/* animacao imagem principal secao inicio */
.img-floating {
  position: absolute;
  animation: float 7s ease-in-out infinite;
  top: 25%;
  left: 60%;
}

div.icon-floating.bootstrap {
  bottom: 26%;
  left: 67%;
  animation: float 3.7s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

/* ====================BREAKPOINTS===================== */

/* /* Breakpoint para telas ultrawide 
@media screen and (min-width: 1900px) {
  /* Define a largura máxima para telas ultrawide 
}

/* Breakpoint para desktops grandes 
@media screen and (max-width: 1200px) {
  /* Você pode ajustar os estilos para desktops grandes aqui, se necessário 
}

/* Breakpoint para desktops pequenos 
@media screen and (max-width: 991px) {
  /* Você pode ajustar os estilos para desktops pequenos aqui, se necessário 
}

/* Breakpoint para tablets 
@media screen and (max-width: 767px) {
  /* Altera a largura máxima para ocupar toda a largura da tela 
}
 */

/* Breakpoint para smartphones */
@media only screen and (max-width: 575px) and (min-width: 380px){
  /*Reduz o espaço ao redor do conteúdo para telas menores */
  /* fonte h1 titulos  */

  .notLoaded {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    margin: 0px;
  }
  
  .loaderImage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid;
    animation: loadSpinner 2.5s linear infinite;
  
    background: linear-gradient(#3d196a, #3d196a) padding-box,
      linear-gradient(to right, #fc1068, #3d196a) border-box;
    border-radius: 50%;
    border: 4px solid transparent;
  }
  
  #loader {
    position: fixed;
    background: #3d196a;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .titulo-principal,
  .descricao-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title-001 {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 1.8rem;
  }
  .title-002 {
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 1.5rem;
  }
  .para-001 {
    font-family: var(--font-lato);
    font-size: 1.1rem;
    font-weight: 600;
    text-align: justify;
  }
  .span-001 {
    font-size: 1.6rem;
    font-family: var(--font-roboto);
    font-weight: 500;
  }

  .btn-cta {
    margin: 10px 0 0 0;
  }

  .info-principal {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 2rem 0;
  }

  .icon-destacado {
    padding: 0 !important;
    min-height: o !important;
  }

  .icon-destacado a {
    background-color: var(--cor-002);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;    

    height: 35px;
    width: 45px;

    border-radius: 5px;
  }

  .icon-destacado a i {
    color: var(--cor-005);
    font-size: .8rem;
  }
}
